<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX</title>
</head>
<body>
    <div id = 'display'></div>
    <button id = 'allbtn'>전체 데이터 가져오기</button>
    <br />

    bid <input type ='text', id = 'bid' />
    <button id = 'getbooknum'>데이터 1개 가져오기</button>

    <!-- ajax로 보낼 때는 id만 필요 -->
    <!-- submit button으로 전송할 때는 나머지 3가지 고려 -->
    <!-- action - 처리할 서버의 URL, method - 전송 방식(생략 - GET), enctype - file이 있는 경우 multipart/form-data를 설정 -->
    <form id="bookform">
        <h3> 도서 정보 입력 </h3>
        <p>bid<input type = 'number' name = 'bid' /> </p>
        <p>title<input type = 'text' name = 'title' /> </p> <!-- text는 생략해도 기본 값이 text-->
        <p>author<input type = 'text' name = 'author' /> </p>
        <p>category<input type = 'text' name = 'category' /> </p>
        <p>pages<input type = 'number' name = 'pages' /> </p>
        <p>price<input type = 'number' name = 'price' /> </p>
        <p>published_date<input type = 'date' name = 'published_date' /> </p>
        <p>description<textarea name = 'description' rows="4" cols="20"></textarea> </p>

        <p><input type = 'button' value = '전송' id = 'insert' /></p>
    </form>

    <button id = 'fetchbtn'>Fetch API 사용</button>
</body>
<script>
    //해당하는 하나의 데이터 출력
    document.getElementById('getbooknum').addEventListener('click',
        (e) =>{
            //id가 bid인 입력의 값 가져오기
            let bid = document.getElementById('bid').value;
            //alert(bid); 
            
            let request = new XMLHttpRequest();
            request.open('GET','../example/fbv/book/'+bid, true)
            request.send()
            request.addEventListener('load',(e)=>{
                //없는 번호인 경우는 detail에 NotFound 값이 넘어옴
                //alert(request.responseText)

                //parsing
                let data = JSON.parse(request.responseText);
                let txt = "";
                //alert(data.detail); //alert(data);
                // data 유무 확인
                if('detail' in data){
                    //data가 없을 때 처리
                    txt = "<h3>해당하는 bid가 없습니다.</h3>";
                }
                else{
                    //data가 있을 때 처리
                    txt += '<h3>' + data.bid + '</h3>';
                    txt += '<p>' + data.title + '</p>';
                    txt += '<p>' + data.pages + '</p>';
                }
                document.getElementById('display').innerHTML = txt;
            })
    });


    //전체 데이터 출력
    document.getElementById('allbtn').addEventListener('click',
        (e) =>{
        let request = new XMLHttpRequest();
        // 출력하는 함수에 객체를 대입하면 toString method 호출함
            //python은 __str__ method 호출
            //위 method를 재정의 - 그 내용 출력, 재정의 X - 기본값 출력
        //alert(request)

        //요청 생성
        //현재- https://localhost:8000/ajax/
        //목적지 - https://localhost:8000/example/fbv/books/
        request.open('GET', '../example/fbv/books/', true);
        //요청 전송
        request.send('')
        //응답이 오면 호출
        request.addEventListener('load',(e)=> {
            //문자열
            //alert(request.responseText)

            //문자열 -> Javascript data로 변환
            //data - 객체들의 배열
            let data = JSON.parse(request.responseText);
            let txt = '';

            //고민해 볼 점
            //if(data.length > 0) -> 데이터가 없을 경우 빈 화면 출력 
            //빈 화면은 X -> data가 없으면 없다고 표시해 주는 것이 훨씬 나음

            for(let item of data){ //Javascript:for - in data -> index return
                //alert(item.title)
                txt += '<h3>' + item.title + '</h3>';
                txt += '<p>' + item.price + '</p>';
                txt += '<p>' + item.published_date + '</p>';
            }
            document.getElementById('display').innerHTML = txt;
        });

    });

    //bookform
    document.getElementById("insert").addEventListener('click', 
    (e)=>{
        alert("ddd")
        //form에 입력된 data 가져오기
        let bookform = document.getElementById("bookform");
        let formdata = new FormData(bookform);

        //ajax 요청 객체
        let request = new XMLHttpRequest();
        request.open('POST','../example/fbv/books/',true);

        //requestHeader 전에 요청 객체를 생성한 후 열어 줘야 함
        //Formdata를 POST 방식으로 전송하기 위한 data로 변경
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        let param = '';
        for(let pair of formdata.entries()){
            param += pair[0] + '=' + pair[1] + "&";
        }

        //요청 전송
        request.send(param);
        //응답 결과 처리
        request.addEventListener('load',
        (e)=>{
            alert(request.responseText);
        })
    });

    //fetch API
    document.getElementById('fetchbtn').addEventListener('click',
    (e)=>{
    
        //alert(click)
        /*
        //ajax 객체 생성
        let request = new XMLHttpRequest();
        // alert(request) // 확인
    
        //open해서 연결 설정
        request.open('GET', '../example/fbv/books/', true);
        //alert(request) //확인
        //전송할 데이터 생성 -> 전송할 데이터 X

        //전송
        request.send('')

        //전송이 성공했을 때 수행할 동작 작성
        request.addEventListener('load',(e)=>{
            let data = JSON.parse(request.responseText);
            alert(data)
        })
        */

        //fetch API를 이용해 전체 data 가져오기
        fetch('../example/fbv/books/', {
            //옵션 설정 - 전송 방식, parameter 설정
            
        })
            .then((response) => response.json()) //서버의 응답 -> json parsing
            .then((data) => alert(data))
            .catch((error) => alsert(error)); //예외처리
        //fetch 함수를 호출하면 서버에게 요청 전송, then에 함수를 설정하면 then에게 전송받은 data가 전달됨
        //전달된 데이터가 json이라면, json method를 호출하면 전달한 데이터를 parsing하고 그 결과를 다음 함수에게 전달함
    })
</script>
</html>